apiVersion: v1
kind: Service
metadata:
  name: redis
  namespace: besiktningsapp
  labels:
    app.kubernetes.io/name: redis
    app.kubernetes.io/part-of: besiktningsapp
spec:
  type: ClusterIP
  selector:
    app: redis
  ports:
    - name: redis
      port: 6379
      targetPort: 6379
      protocol: TCP
