apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: minio-pvc
  namespace: besiktningsapp
  labels:
    app.kubernetes.io/name: minio
    app.kubernetes.io/part-of: besiktningsapp
spec:
  accessModes:
    - ReadWriteOnce
  storageClassName: standard
  resources:
    requests:
      storage: 10Gi
