apiVersion: v1
kind: Service
metadata:
  name: minio
  namespace: besiktningsapp
  labels:
    app.kubernetes.io/name: minio
    app.kubernetes.io/part-of: besiktningsapp
spec:
  type: ClusterIP
  selector:
    app: minio
  ports:
    - name: api
      port: 9000
      targetPort: 9000
      protocol: TCP
    - name: console
      port: 9001
      targetPort: 9001
      protocol: TCP
